<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <div class="container">
        <!-- Main content on the left -->
        <div class="left-content">
            {{ content }}
        </div>

        <!-- Links section on the right -->
        <div class="right-content">
            <div class="details">
                <p><a href="https://www.newschool.edu/parsons/" target="_blank">Parsons, School of Art<br>
                   Media and Technology<br></a>
                   2 W 13th, Room 311<br>
                   Tuesdays, 4 - 6:40 PM<br>
                <a href="https://www.newschool.edu/parsons/faculty/jen-jiun-choi/" target="_blank">Jen Jiun Choi</a></p>
            </div>
            <div class="links">
                <p><a href="https://docs.google.com/document/d/1MUvA-rT5wbHm0lmuFQosuDWHbuqtpIjTAWMr-lMu8Fk/edit?usp=sharing" target="_blank">Syllabus</a><br>
                <a href="http://canvas.newschool.edu" target="_blank">Canvas</a><br>
                <a href="https://github.com/core1-interaction/core1-interaction.github.io" target="_blank">GitHub</a><br>
                <a href="https://drive.google.com/drive/folders/1LeeYk2zIUk6Mu9YCpVrZ1FfLExsXCbZB?usp=share_link" target="_blank">Drive</a><br>
                <a href="https://core1-interaction.github.io/resources.html">Resources</a></p>
            </div>
              <div class="links">
                <p><i>Our Class</i><br>
                <p><a href="" target="_blank">Fari</a><br>
                <a href="" target="_blank">Diya</a><br>
                <a href="" target="_blank">Sueksha</a><br>
                <a href="" target="_blank">August</a><br>
                <a href="https://jjy030404.github.io" target="_blank">Jay</a>
                <a href="https://savannakuo1.github.io" target="_blank">Savanna</a>
                <a href="https://queena725.github.io" target="_blank">Queena</a>
                <a href="https://pakj190.github.io" target="_blank">Joanna</a>
                <a href="https://yseo05.github.io" target="_blank">Yujin</a>
                <a href="https://avt20000.github.io/annetvantilburg/">Annet</a>
                <a href="https://yran-1210.github.io" target="_blank">Wendy</a>
                <a href="http://weil129.github.io/" target="_blank">Lucy</a>
                <a href="" target="_blank">Lucy Z</a>
                <a href="https://aryayang1025.github.io/" target="_blank">Arya</a>
                <a href="https://maya-ye-510.github.io/" target="_blank">Maya</a></p>
            </div>
        </div>
    </div>
</body>
</html>
