<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <div class="container">
        <!-- Main content on the left -->
        <div class="left-content">
            {{ content }}
        </div>

        <!-- Links section on the right -->
        <div class="right-content">
            <div class="details">
                <p><a href="https://core1-interaction.github.io/week1.html"><span class="nav-color">Week 1</span></a><br>
                   <a href="https://core1-interaction.github.io/week2.html"><span class="nav-color">Week 2</span></a><br>
                   <a href="https://core1-interaction.github.io/week3.html"><span class="nav-color">Week 3</span></a><br>
                   <a href="https://core1-interaction.github.io/week4.html"><span class="nav-color">Week 4</span></a><br>
                   <a href="https://core1-interaction.github.io/week5.html"><span class="nav-color">Week 5</span></a><br>
                   <a href="https://core1-interaction.github.io/week6.html"><span class="nav-color">Week 6</span></a><br>
                   <a href="https://core1-interaction.github.io/week7.html"><span class="nav-color">Week 7</span></a><br>
                   <a href="https://core1-interaction.github.io/week8.html"><span class="nav-color">Week 8</span></a></p>
            </div>
            <div class="links">
              <p><a href="https://docs.google.com/document/d/1MUvA-rT5wbHm0lmuFQosuDWHbuqtpIjTAWMr-lMu8Fk/edit?usp=sharing" target="_blank">Syllabus</a><br>
                <a href="http://canvas.newschool.edu" target="_blank">Canvas</a><br>
                <a href="https://github.com/core1-interaction/core1-interaction.github.io" target="_blank">GitHub</a><br>
                <a href="https://drive.google.com/drive/folders/1LeeYk2zIUk6Mu9YCpVrZ1FfLExsXCbZB?usp=share_link" target="_blank">Drive</a><br>
                <a href="https://core1-interaction.github.io/resources.html">Resources</a></p>
            </div>
        </div>
    </div>
</body>
</html>
